body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: #9191a1;
}

table {
    border-collapse: collapse;
    font-size: 16px;
    padding: 1.5px;
    margin: 20px 0;
    text-align: center;
    max-width: 75%;
}

thead {
    background-color: #46f18e;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}

table th,
table td {
    padding: 10px 20px;
}

tbody tr {
    border-bottom: 1px solid #5a5a5a;
    background-color: #ffffff;
}

tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #46f18e;
}


#overBudget{
    background-color: red;
}