body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 90%;
    margin: auto;
}

.header {
    margin: auto;
    width: 80%;
}

h1 {
    text-align: center;
    background-color: #cfcdcc;
    color: #36454f;
    padding: 30px 0;
}

.main {
    margin: auto;
    width: 80%;
}

#addEmployeeText {
    font-size: 25px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

input{
    padding: 10px
}

#addEmployeeButton {
    padding: 10px 20px;
    
}

#tableText {
    font-size: 25px;
}

table {
    border-collapse: collapse;
    font-size: 16px;
    padding: 1.5px;
    text-align: center;
    width: 100%;
}


thead {
    background-color: #36454f;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}

tbody {
    font-family: 'Courier New', Courier, monospace;
}

table th,
table td {
    padding: 10px 20px;
}

tbody tr {
    border-bottom: 1px solid #5a5a5a;
    background-color: #ffffff;
}

tbody tr:nth-of-type(even) {
    background-color: #f1f9ff;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #36454f;
}

#monthlyBudget{
    font-size: 25px;
    text-align: right;
}

#overBudget{
    background-color: red;
}