body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: #d1d1d1;
}

#overBudget{
    background-color: red;
}